{{ 'announcement-bar-custom.css' | asset_url | stylesheet_tag }}

<section class="announcement-bar-container" {{ section.shopify_attributes }}>
  <div class="announcement-bar-content">
    <h1 style="
      background-color: {{ section.settings.bg_color }};
      color: {{ section.settings.text_color }};
      font-size: {{ section.settings.font_size }}px;
    ">
      {{ section.settings.announcement_text }}
    </h1>
  </div>
</section>

{% schema %}
{
  "name": "Announcement Bar Custom",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Text",
      "default": "FREE US SHIPPING ON ORDERS OVER $45"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#f2f1ed"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#67645e"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font size (px)",
      "min": 12,
      "max": 36,
      "step": 1,
      "default": 16
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar Custom"
    }
  ]
}
{% endschema %}
